.bg{
    background-image: url("../createAcc.jpg");
    min-height: 100vh;
    width:100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h2{
    color: rgb(39, 224, 15);
}
h3{
    color: rgb(116, 54, 210);
}
button{
    color: rgb(47, 153, 153);
}
